@page "/no-monaco"

<PageTitle>No Monaco Editor - just textarea</PageTitle>
@using OpenApiToModels.Lib.OpenApi
@using OpenApiToModels.Lib.Serialisation
@using System.Text
@using Microsoft.OpenApi
@inject HttpClient Http

<div class="nav-box dark4">
    <nav class="nav-right">
        <button class="button green " @onclick="Generate" id="btncompile">Generate ▶</button>
        <input type="text" class="input-text" @bind="MatchingConfig.Matcher"/>
        <InputSelect class="input-text" @bind-Value="@MatchingConfig.Mode">
            @foreach (var value in Enum.GetValues<MatchingConfig.MatchMode>())
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
        <InputSelect class="input-text" @bind-Value="@Config.Tab">
            @foreach (var value in Enum.GetValues<ApiSerializerConfig.TabSymbol>())
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
        <div class="label">
            <label>Capitalize</label><input class="toggle" type="checkbox" @bind="Config.IsCamelCase"/>
        </div>
        <div class="label">
            <label>EnumValues</label><input class="toggle" type="checkbox" @bind="Config.IsEnumsInlinedActive"/>
        </div>
        <div class="label">
            <label>EnumAsString</label><input class="toggle" type="checkbox" @bind="Config.IsEnumAsStringOrInt"/>
        </div>
        <div class="label">
            <label>NoLines</label><input class="toggle" type="checkbox" @bind="Config.IsNoNewlines"/>
        </div>
        <div class="label">
            <label>WrapTags</label><input class="toggle" type="checkbox" @bind="Config.IsWrappingEnabled"/>
        </div>
        <div class="label">
            <label>JsonTags</label><input class="toggle" type="checkbox" @bind="Config.IsJsonPropertyNameTagsEnabled"/>
        </div>
        <div class="label">
            <label>Readonly</label><input class="toggle" type="checkbox" @bind="IsReadonlyList"/>
        </div>
        <div class="label">
            <label>Records</label><input class="toggle" type="checkbox" @bind="IsRecord"/>
        </div>
        <div class="label">
            <label>Examples</label><input class="toggle" type="checkbox" @bind="Config.IsExamplesActive"/>
        </div>
        <div class="label">
            <label>Comments</label><input class="toggle" type="checkbox" @bind="Config.IsCommentsActive"/>
        </div>
        <button class="button" @onclick="BtnImportFile">Example Data</button>
        <button class="button" @onclick="BtnToggleFormat">Toggle</button>
        <label class="button">Upload Json/Yaml<InputFile OnChange="BtnSingleUpload"/></label>
    </nav>
</div>

<div class="container">
    <textarea class="left-textarea" wrap="off" @bind="TextLeft"></textarea>
    <textarea class="right-textarea" wrap="off" @bind="TextRight"></textarea>
</div>

@code {
    private ApiSerializerConfig Config { get; set; } = new() { IsNoNewlines = true };
    private MatchingConfig MatchingConfig { get; set; } = new();
    private bool IsRecord { get; set; } = true;
    private bool IsReadonlyList { get; set; } = false;

    private string TextLeft { get; set; } = "";
    private string TextRight { get; set; } = "";

    private async Task Generate()
    {
        Config.DefaultClassName = IsRecord ? "public record " : "public class ";
        Config.List = IsReadonlyList ? "IReadonlyList<" : "List<";

        var (openApiDocument, diagnostic) = OpenApi.LoadFromText(TextLeft);
        openApiDocument.ResolveReferences();
        var schemata = MatchingConfig.Mode switch
        {
            MatchingConfig.MatchMode.Everything =>
                openApiDocument.Components.Schemas.Select(s => s.Value),
            MatchingConfig.MatchMode.Path =>
                openApiDocument.SearchOperationsMatching(MatchingConfig.Matcher).CollectWithDependencies(),
            MatchingConfig.MatchMode.Classname =>
                openApiDocument.SearchSchemataMatching(MatchingConfig.Matcher).CollectWithDependencies(),
            _ => throw new ArgumentOutOfRangeException(),
        };
        var orderModelsTxt = ApiSerializer.Serialize(schemata, diagnostic, Config);

        TextRight = (orderModelsTxt);
    }

    private async Task BtnSingleUpload(InputFileChangeEventArgs arg)
    {
        MemoryStream ms = new MemoryStream();
        await arg.File.OpenReadStream(maxAllowedSize: 51200000L).CopyToAsync(ms);
        TextLeft = (Encoding.UTF8.GetString(ms.ToArray()));
    }

    private async Task BtnImportFile()
    {
        var str = await Http.GetStringAsync("sample-data/weathercontroller.json");
        TextLeft = str;
    }

    private async Task BtnToggleFormat()
    {
        var val = TextLeft;
        var (openApiDocument, diagnostic) = OpenApi.LoadFromText(val);
        if (val.TrimStart().FirstOrDefault() == '{')
            TextLeft = openApiDocument.SerializeSpecificationDocument_YamlOrJson(diagnostic, OpenApiFormat.Yaml);
        else
            TextLeft = openApiDocument.SerializeSpecificationDocument_YamlOrJson(diagnostic, OpenApiFormat.Json);
    }

}

<style>
/* CHECKBOX STYLING */
.editor{
  height: 100px;
}
.nav-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #f1f3f5;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-left {
  text-align: left;
  padding: 10px 0px;
  font-size: 1rem;
}
.nav-right {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
  padding: 10px 0px;
  font-size: 1rem;
  gap: 4px;
}

label {
  display:flex;
  text-align: justify;
  justify-content: center;
  justify-self: center;
}
/* BUTTON STYLING*/
.button {
	display: inline-block;
  margin: 5px 2px 5px 2px;
  padding: 0.75rem 0.75rem;
	border: 0;
	border-radius: 0.317rem;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	background-color: #aaa;
}

.fileopen{
  border: solid #191a198a;
  background-color: #4E9F3D;
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.green {
	background-color: #4E9F3D;
}

/*text boxes:*/
.container {
    display: flex;
    height: 80vh;
    width: 100%;
    max-width: 100%;
}
@@media (max-width: 841px) {
    .container {
        flex-direction: column;
        align-items: baseline;
    }
}
textarea {
    resize: none;
    flex: 1 1 auto;
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.left-textarea {
    margin-right: 5px;
    min-height: 600px;
}
.right-textarea {
    min-height: 600px;
    margin-left: 5px;
}
@@media (max-width: 841px) {
    .left-textarea {
        min-height: 250px;
        margin-bottom: 5px;
        margin-right: 0;
    }
    .right-textarea {
        margin-top: 5px;
        margin-left: 0;
    }
}

/* CSS FOR TOGGLE BUTTONS*/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4E9F3D;;
}

.toggle:checked:before {
  left: 32px;
}

.dark1Active{
  background-color: #1E5128 !important;
}
.dark2Active{
  background-color: #4E9F3D !important;
}
.dark2Active .fileopen {
  background-color: #aaa !important;
}
.dark3Active{
  background-color:#252526 !important;
  color:#f1f3f5;
}
.dark4Active{
  background-color: #1e1e1e !important;
  color:#f1f3f5;
}
</style>